body{background-color:#b0e0e6}
img{border-color: #c71585;border-style:ridge;}
h1{background-color: #ff1493;color:#98fb98;}
p{color:#ff4500;font-size:x-large;}
hr{color:#3cb371;border:solid}
a{color: #6b8e23;}
ol{font-size: 25px;font-style: oblique; color: #191970;}

.heading{
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: flex-end;
}

.item{
    display: flex;
    justify-content: space-evenly;
}

